Municipalidad app/Muni.Web/Connected Services/MuniWCF/Registros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Registros" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57185/Registros.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57185/Registros.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistros_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ReadUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadUsuario" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ReadUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistros_CreateSolicitudJson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSolicitudJson" />
  </wsdl:message>
  <wsdl:message name="IRegistros_CreateSolicitudJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSolicitudJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ReadCollectionSolicitudJson_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCollectionSolicitudJson" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ReadCollectionSolicitudJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCollectionSolicitudJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ValidarUsuarioJson_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioJson" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ValidarUsuarioJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ReadUsuarioJson_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadUsuarioJson" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ReadUsuarioJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadUsuarioJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ReadCollectionFuncionarioJson_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCollectionFuncionarioJson" />
  </wsdl:message>
  <wsdl:message name="IRegistros_ReadCollectionFuncionarioJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCollectionFuncionarioJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistros">
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistros/ValidarUsuario" message="tns:IRegistros_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistros/ValidarUsuarioResponse" message="tns:IRegistros_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistros/ReadUsuario" message="tns:IRegistros_ReadUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistros/ReadUsuarioResponse" message="tns:IRegistros_ReadUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSolicitudJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistros/CreateSolicitudJson" message="tns:IRegistros_CreateSolicitudJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistros/CreateSolicitudJsonResponse" message="tns:IRegistros_CreateSolicitudJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCollectionSolicitudJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistros/ReadCollectionSolicitudJson" message="tns:IRegistros_ReadCollectionSolicitudJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistros/ReadCollectionSolicitudJsonResponse" message="tns:IRegistros_ReadCollectionSolicitudJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuarioJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistros/ValidarUsuarioJson" message="tns:IRegistros_ValidarUsuarioJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistros/ValidarUsuarioJsonResponse" message="tns:IRegistros_ValidarUsuarioJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadUsuarioJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistros/ReadUsuarioJson" message="tns:IRegistros_ReadUsuarioJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistros/ReadUsuarioJsonResponse" message="tns:IRegistros_ReadUsuarioJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCollectionFuncionarioJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistros/ReadCollectionFuncionarioJson" message="tns:IRegistros_ReadCollectionFuncionarioJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistros/ReadCollectionFuncionarioJsonResponse" message="tns:IRegistros_ReadCollectionFuncionarioJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistros" type="tns:IRegistros">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IRegistros/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUsuario">
      <soap:operation soapAction="http://tempuri.org/IRegistros/ReadUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSolicitudJson">
      <soap:operation soapAction="http://tempuri.org/IRegistros/CreateSolicitudJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCollectionSolicitudJson">
      <soap:operation soapAction="http://tempuri.org/IRegistros/ReadCollectionSolicitudJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuarioJson">
      <soap:operation soapAction="http://tempuri.org/IRegistros/ValidarUsuarioJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUsuarioJson">
      <soap:operation soapAction="http://tempuri.org/IRegistros/ReadUsuarioJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCollectionFuncionarioJson">
      <soap:operation soapAction="http://tempuri.org/IRegistros/ReadCollectionFuncionarioJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registros">
    <wsdl:port name="BasicHttpBinding_IRegistros" binding="tns:BasicHttpBinding_IRegistros">
      <soap:address location="http://localhost:57185/Registros.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>