Municipalidad app/Muni.Web/Connected Services/MuniWCF/Registros.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSolicitudJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSolicitudJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSolicitudJsonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCollectionSolicitudJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCollectionSolicitudJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadCollectionSolicitudJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarUsuarioJsonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUsuarioJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUsuarioJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadUsuarioJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCollectionFuncionarioJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCollectionFuncionarioJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadCollectionFuncionarioJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>