Municipalidad app/Muni.Web/Connected Services/MuniWCF/Registros.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerializarJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obj" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerializarJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SerializarJsonResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>